<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!-- Custom Theme files -->
  <!-- //Custom Theme files -->
  <!-- web font -->
  <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
  <!-- //web font -->
</head>


<body>

  <div class="main-w3layouts wrapper">
    <div class="main-agileinfo">
      <div class="agileits-top">
        <div *ngIf="showemail">
          <form #loginForm="ngForm" (submit)=onSubmit()>
            <div class="wthree-text" [class.has-error]="emailcontrol.invalid && emailcontrol.touched" [class.has-success]="emailcontrol.valid">
              <label class="anim">Your Email *</label>
              <input id="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="email" name="email" [(ngModel)]="user.email"
                class="form-control" value="" #emailcontrol="ngModel" />
              <label class="anim">
                <span *ngIf="emailcontrol.errors?.required && emailcontrol.touched">
                  Email is required
                </span>
                <span *ngIf="emailcontrol.errors?.pattern && emailcontrol.touched">
                  Email is invalid
                </span>
              </label>
            </div>
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Send Code" [disabled]="loginForm.invalid" />
          </form>
        </div>
        <div *ngIf="showcode">
          <form #codeForm="ngForm" (submit)=oncode()>
            <div class="wthree-text" [class.has-error]="codecontrol.touched" [class.has-success]="codecontrol.valid">
              <input id="code" required type="password" name="code" [(ngModel)]="verify.code" class="form-control" #codecontrol="ngModel"
                placeholder="Four digit Code" />
              <label class="anim">
                <span *ngIf="codecontrol.errors?.required && codecontrol.touched">
                  Code is required
                </span>
              </label>
            </div>
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Verify Code" [disabled]="codeForm.invalid" />
          </form>
        </div>
        <div *ngIf="showpass">
          <form #passForm="ngForm" (submit)=onpass()>
            <div class="wthree-text" [class.has-error]="passcontrol.touched" [class.has-success]="passcontrol.valid">
              <input id="pass" required type="password" name="pass" [(ngModel)]="add.password" class="form-control" #passcontrol="ngModel"
                placeholder="New password" />
              <label class="anim">
                <span class="help-block" *ngIf="passcontrol.errors?.required && passcontrol.touched">
                  Password is required
                </span>
              </label>
            </div>

            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Change Password" [disabled]="passForm.invalid" />

          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="background-wrap"></div>
</body>
</html>