<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!-- Custom Theme files -->
  <!-- //Custom Theme files -->
  <!-- web font -->
  <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
  <!-- //web font -->
</head>

<body>
  <!-- main -->
  <div class="main-w3layouts wrapper">
    <h1>Registration Form</h1>
    <div class="main-agileinfo">
      <div class="agileits-top">
        <form #registerForm="ngForm" (submit)=onSubmit()>
          <div class="wthree-text" [class.has-error]="regnocontrol.invalid && regnocontrol.touched" [class.has-success]="regnocontrol.valid">
            <label class="anim">Register number *</label>
            <input id="regno" required pattern="[0-9]+$" type="text" name="regno" [(ngModel)]="user.regno" class="form-control" value=""
              #regnocontrol="ngModel" />
            <label class="anim">
              <span *ngIf="regnocontrol.errors?.required && regnocontrol.touched">
                Register number is required
              </span>
              <span *ngIf="regnocontrol.errors?.pattern && regnocontrol.touched">
                Register number is invalid
              </span>
            </label>
          </div>
          <br>
          <div class="wthree-text" [class.has-error]="namecontrol.invalid && namecontrol.touched" [class.has-success]="namecontrol.valid">
            <label class="anim">Name *</label>
            <input id="name" required pattern="[A-Za-z]+$" type="text" name="name" [(ngModel)]="user.name" class="form-control" value=""
              #namecontrol="ngModel" />
            <label class="anim">
              <span *ngIf="namecontrol.errors?.required && namecontrol.touched">
                Name is required
              </span>
              <span *ngIf="namecontrol.errors?.pattern && namecontrol.touched">
                Name is invalid
              </span>
            </label>
          </div>
          <br>
          <div class="wthree-text" [class.has-error]="initialcontrol.invalid && initialcontrol.touched" [class.has-success]="initialcontrol.valid">
            <label class="anim">Initial *</label>
            <input id="initial" required pattern="[A-Za-z]+$" type="text" name="initial" [(ngModel)]="user.initial" class="form-control"
              value="" #initialcontrol="ngModel" />
            <label class="anim">
              <span *ngIf="initialcontrol.errors?.required && initialcontrol.touched">
                Initial is required
              </span>
              <span *ngIf="initialcontrol.errors?.pattern && initialcontrol.touched">
                Initial is invalid
              </span>
            </label>
          </div>
          <br>
          <div class="wthree-text" [class.has-error]="deptcontrol.touched" [class.has-success]="deptcontrol.valid">
            <label class="anim">Department *</label>
            <select required class="wthree-text" name="dept" [(ngModel)]="user.dept" #deptcontrol="ngModel">
              <option id="option-1" value="CSE">Computer Science</option>
              <option id="option-1" value="MECH">Mechanical</option>
              <option id="option-1" value="CIVIL">Civil</option>
              <option id="option-1" value="IT">Information Technology</option>
              <option id="option-1" value="EEE">Electrical and Electronics</option>
              <option id="option-1" value="ECE">Electronics and Communications</option>
              <option id="option-1" value="EIE">Electronics and Instrumentation</option>
            </select>
            <label class="anim">
              <span *ngIf="deptcontrol.errors?.required && deptcontrol.touched">
                Department is required
              </span>
            </label>
          </div>
          <br>
          <div class="wthree-text" [class.has-error]="yearcontrol.touched" [class.has-success]="yearcontrol.valid">
            <label class="anim">Year *</label>
            <select required class="wthree-text" name="year" [(ngModel)]="user.year" #yearcontrol="ngModel">
              <option id="option-1" value="1">I year</option>
              <option id="option-1" value="2">II year</option>
              <option id="option-1" value="3">III year</option>
              <option id="option-1" value="4">IV year</option>
            </select>
            <label class="anim">
              <span *ngIf="yearcontrol.errors?.required && yearcontrol.touched">
                Year is required
              </span>
            </label>
          </div>
          <br>
          <div class="wthree-text" [class.has-error]="sectioncontrol.touched" [class.has-success]="sectioncontrol.valid">
            <label class="anim">Section *</label>
            <select required class="wthree-text" name="section" [(ngModel)]="user.section" #sectioncontrol="ngModel">
              <option id="option-1" value="1">I</option>
              <option id="option-1" value="2">II</option>
              <option id="option-1" value="3">III</option>
              <option id="option-1" value="4">IV</option>
            </select>
            <label class="anim">
              <span *ngIf="sectioncontrol.errors?.required && sectioncontrol.touched">
                Section is required
              </span>
            </label>
          </div>
          <br>
          <div class="wthree-text" [class.has-error]="emailcontrol.invalid && emailcontrol.touched" [class.has-success]="emailcontrol.valid">
            <label class="anim">Email *</label>
            <input id="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="email" name="email" [(ngModel)]="user.email"
              class="form-control" value="" #emailcontrol="ngModel" />
            <label class="anim">
              <span *ngIf="emailcontrol.errors?.required && emailcontrol.touched">
                Email is required
              </span>
              <span *ngIf="emailcontrol.errors?.pattern && emailcontrol.touched">
                Email is invalid
              </span>
            </label>
          </div>
          <br>
          <div class="wthree-text" [class.has-error]="passwordcontrol.touched" [class.has-success]="passwordcontrol.valid">
            <label class="anim">Password *</label>
            <input id="password" required type="password" name="password" [(ngModel)]="user.password" class="form-control" #passwordcontrol="ngModel"
              value="" />
            <label class="anim">
              <span *ngIf="passwordcontrol.errors?.required && passwordcontrol.touched">
                Password is required
              </span>
            </label>
          </div>
          <br>
          <div class="wthree-text" [class.has-error]="mobilenocontrol.invalid && mobilenocontrol.touched" [class.has-success]="mobilenocontrol.valid">
            <label class="anim">Contact number *</label>
            <input id="mobileno" required pattern="[0-9]+$" type="text" name="mobileno" [(ngModel)]="user.mobileno" class="form-control"
              value="" #mobilenocontrol="ngModel" />
            <label class="anim">
              <span *ngIf="mobilenocontrol.errors?.required && mobilenocontrol.touched">
                Contact number is required
              </span>
              <span *ngIf="mobilenocontrol.errors?.pattern && mobilenocontrol.touched">
                Contact number is invalid
              </span>
            </label>
          </div>
          <br>
          <div class="wthree-text" [class.has-error]="gendercontrol.touched" [class.has-success]="gendercontrol.valid">
            <label class="anim">Gender *</label>
            <select required class="wthree-text" class="form-control" name="gender" [(ngModel)]="user.gender" #gendercontrol="ngModel">
              <option id="option-1" value="male">Male</option>
              <option id="option-1" value="female">Female</option>
            </select>

            <label class="anim">
              <span class="help-block" *ngIf="gendercontrol.errors?.required && gendercontrol.touched">
                Gender is required
              </span>
            </label>
          </div>
          <input type="submit" value="SIGN UP" [disabled]="registerForm.invalid" />
          <input type="submit" value="Go to home page" (click)="onhomeclick()" />
        </form>
      </div>
    </div>
  </div>
  <div id="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
  </div>
</body>

</html>